@charset "utf-8";

/* start of note list */
.noteListWrap{
    width: 100%;
    height: calc(100% - 190px);
    overflow-y: auto;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .noList{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &::before{
            content: '';
            display: block;
            width: 113px;
            height: 88px;
            background-image: url('./../images/contents/list_background.svg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    
    .noteListMin{
        overflow: hidden;
        width: 100%;
        min-height: 100%;

        .noteList{
            width: 100%;
            border-bottom: 1px solid #C6C6D0;
            padding: 16px 0;
    
            &:first-child{
                padding-top: 0;
            }
    
            &:last-child{
                border-bottom: 0;
            }
    
            .list{
                box-sizing: border-box;
                // padding: 16px 24px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;
    
                h4{
                    width: 100%;
                    box-sizing: border-box;
                    font-weight: 400;
                    font-size: 1.8rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
    
                p{
                    width: 100%;
                    box-sizing: border-box;
                    font-size: 1.4rem;
                    line-height: 140%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
    
                .tagArea{
                    width: 100%;
    
                    display: flex;
                    justify-content: space-between;
    
                    span{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }    
}
/* end of note list */

.contentWrap{
    max-width: 768px;
    height: 100vh;
    margin: 0 auto;
    background-color: #F0F0F6;
    position: relative;
    padding: 20px 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 20px;

    > div{
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
    }
}

.nav{
    max-width: 768px;
    position: fixed;
    width: 100%;
    height: 90px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);


    .navMin{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;

        a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 8px;
            align-items: center;
            font-size: 1rem;
            line-height: 140%;
            color: #C6C6D0;
        }
    }
}

.outContent{
    position: absolute;
    top: 50px;
    right: 30px;
    width: 220px;
    height: 50px;
    border-radius: 25px;
    background-color: #0478EA;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1300px) {
    .outContent{
        display: none;
    }
}


/* start of btnWrap */
.btnWrap{
    width: 100%;
}

.newNoteBtn{
    button{
        width: 100%;
        box-sizing: border-box;
        padding: 12px 26px;
        background-color: #040113;
        color: #ffffff;
        border-radius: 15px;
        text-align: center;
        position:relative;

        // &::after{
        //     content: '';
        //     display: block;
        //     width: 32px;
        //     height: 70px;
        //     background-image: url('./assets/images/contents/pen.png');
        //     background-size: 100% 100%;
        //     background-repeat: no-repeat;
        //     position:absolute;
        //     top: -23px;
        //     right: 10px;
        //     transform: rotate(15deg);
        // }
    }
}
/* end of btnWrap */


/* start of header */
 
/* end of header */
