@charset "utf-8";
@import './variables.scss';

.header{
    display: flex;
    justify-content: space-between;

    .titleWrap{
        display: flex;
        align-items: center;
        gap: 15px;

        h2{
            font-size: $fontsize_medium;
            font-weight: 400;
        }
    }

    .headerBtnWrap{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}