@charset "utf-8";

a{
  display: block;
  box-sizing: border-box;
  
  &.prev{
    background-image: url("./../images/icons/ic_prev.svg");
    width: 10px;
    height: 16px;
  }
}

button {
  border-radius: 15px;
  background-color: transparent;
  font-size: 1.4rem;
  box-sizing: border-box;

  &.textBtn {
    color: #333333;
    height: 40px;
    text-align: center;
    font-weight: 300;
  }

  &.newNote{
    height: 50px;
  }

  &.dark {
    color: $color_white;
    background-color: $color_black;
    padding: 0 20px;
  }

  &.default{
    color: $color_default;
    font-weight: 400;
  }

  // 아이콘만 있는 버튼
  &.icBtn {
    background-color: transparent;
    padding: 0;
    font-size: 0;
    line-height: 0;
    color: transparent;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0;
  }

  // header 에 이전으로 가기 버튼
  &.prevBtn {
    background-image: url("./../images/icons/ic_prev.svg");
    width: 10px;
    height: 16px;
  }

  &.searchBtn {
    background-image: url("./../images/icons/ic_search.svg");
    width: 20px;
    height: 20px;
  }

  &.commentsClose {
    background-image: url("./../images/icons/close_area.png");
    width: 12px;
    height: 14px;
  }

  &.searchBlackBtn{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-image: url("./../images/icons/ic_search_white.svg");
    background-color: #040113;
    background-size: 20px 20px;
  }

  &.etcBtn{
    width: 16px;
    height: 16px;
    background-image: url("./../images/icons/ic_ellipsis.svg");
  }
}
