@charset "utf-8";

/* start of font-size */
$font_h2: 1.8rem;
$font_nav : 1.2rem;
/* end of font-size */

/* start of color */
$color_white: #ffffff;
$color_default: #040113;

$color_black: #333333;
/* end of color */

button:disabled{
  filter: grayscale(5);
  opacity: 0.5;
}

