/* start of default layout repeat */
.contentWrap {
  max-width: 768px;
  // min-height: calc(100vh - 90px);
  margin: 0 auto;
  background-color: #f0f0f6;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  // gap: 20px;

  .contentMin {
    height: calc(100vh - 90px);
    width: 100%;

    > div {
      height: 100%;
      min-height: 100%;
      display: flex;
      // gap: 20px;
      flex-direction: column;
      gap: 10px;

      > section{
        padding: 0 20px;

        &.noteListWrap{
          // padding: 20px 0 0 0;
        }

        /* start of background color and scroll */
        &.bgScroll{
          overflow: hidden;
          overflow-y: auto;
          padding-bottom: 20px;
          padding-top: 20px;
        }
        /* end of background color and scroll */

        &.writeWrap{
          padding-right: 0;
          margin-bottom: 20px;
        }
      }
    }

    header {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .titleWrap {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;

        h2 {
          padding-top: 3px;
        }
      }

      .headerBtnWrap {
        display: flex;
        align-items: center;
        gap: 20px;

        .headerBtnMin{
          display: flex;
          align-items: center;
          gap: 10px;
        }

      }
    }

    /* start of searchWrap */
    .searchWrap{
      background-color: #ffffff;
      
      header{
        height: 97px;
        gap: 20px;

        input{
          width:100%;

          &::placeholder{
            color:#C6C6D0;
            -webkit-text-fill-color: #C6C6D0;
          }

          &::-webkit-input-placeholder{
            color:#C6C6D0;
            -webkit-text-fill-color: #C6C6D0;
          }

          &::-ms-input-placeholder{
            color:#C6C6D0;
            -webkit-text-fill-color: #C6C6D0;
          }
        }

      }
    }
    /* end of searchWrap */
  }
}

/* start of nav */
.nav {
  height: 90px;

  .navMin {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;

    a{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div{
        width: 60px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-repeat: no-repeat;
        background-position: top center;

        span{
          font-size: $font_nav;
          line-height: 130%;
          color: #C6C6D0;
        }

        &.active{
          span{
            color: $color_black;
          }          
        }

        &.myNote{
          background-size: 20px 20px;
          background-image: url('./../images/icons/mynote.svg');
          
          &.active{
            background-image: url('./../images/icons/mynote_active.svg');
          }
        }

        &.box{
          background-size: 22px 18px;
          background-image: url('./../images/icons/box.svg');
          background-position: top 3px center;

          &.active{
            background-image: url('./../images/icons/box_active.svg');
          }
        }

        &.openNote{
          background-size: 16px 22px;
          background-image: url('./../images/icons/opennote.svg');
          background-position: top center;

          &.active{
            background-image: url('./../images/icons/opennote_active.svg');
          }
        }

        &.myPage{
          background-size: 22px 24px;
          background-image: url('./../images/icons/mypage.svg');
          
          &.active{
            background-image: url('./../images/icons/mypage_active.svg');
          }
        }
      }
    }
  }
}
/* end of nav */

/* start of note list */
.noteListWrap {
  width: 100%;
  // min-height: calc(100vh - 200px);
  // height: calc(100% - 150px);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  gap: 30px;
  padding: 0 !important;

  .noteListBtnWrap{
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    
    .noteListBtnMin{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 20px;
    }
  }

  .noteListMin {
    overflow: hidden;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    // 리스트가 없을때
    .noList {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
      height: 100%;
      line-height: 130%;
  
      &::before {
        content: "";
        display: block;
        width: 113px;
        height: 88px;
        background-image: url("./../images/content/list_background.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    // 리스트가 있을때
    .noteList{
      padding: 0 20px;
      display: block;
    }

    // 검색결과 리스트
    .searchList{
      padding: 0 20px 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .list{
        background-color: #ffffff;
        border-bottom: 0;
        padding: 24px;
        border-radius: 15px;

        &:first-child {
          padding-top: 24px;
        }
      }
    }

    .list {
      width: 100%;
      border-bottom: 1px solid #c6c6d0;
      padding: 16px 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }

      .noteCont{
        box-sizing: border-box;
        // padding: 16px 24px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;

        h4 {
          width: 100%;
          box-sizing: border-box;
          font-weight: 400;
          font-size: 1.8rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        p {
          width: 100%;
          box-sizing: border-box;
          font-size: 1.4rem;
          line-height: 140%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .tagArea {
          width: 100%;

          display: flex;
          justify-content: flex-start;
          gap: 20px;          

          span {
            font-size: 1.2rem;
          }
        }
      }
    }

    .newNoteList{
      padding: 0 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-bottom: 20px;

      .list{
        background-color: #ffffff;
        width: 100%;
        padding: 16px 20px;
        border-radius: 20px 20px 20px 0;
        border-bottom: 0;
        filter: drop-shadow(0px 1px 5px rgba(0,0,0,0.01));
      }
    }

    .matchList{
      padding: 0 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-bottom: 20px;

      .list{
        background-color: #ffffff;
        width: 100%;
        padding: 16px 20px;
        border-radius: 20px;
        border-bottom: 0;
        filter: drop-shadow(0px 1px 5px rgba(0,0,0,0.01));

        .matchCont{
          display: flex;
          gap: 25px;

          .imgWrap{
            width: 50px;

            img{
              width: 100%;
            }
          }

          .textWrap{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: calc(100% - 80px);

            h4{
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 130%;
            }

            p{
              font-size: 1.4rem;
              span{font-weight:700;}
            }
          } 
        }

        &.emptyMatch{
          background-color: transparent;
          border: 1px dashed #AAAAAA;
          
          .textWrap{
            width: 100%;
            text-align: center;

            h4{
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  &:has(.noList){
    align-items: center;
    justify-content: center;
    height: 100%;

    .noList{
      text-align: center;
      font-size: 2.4rem;
    }
  }  

  

  
}
/* end of note list */

/* start of outContent */
.outContent {
  position: absolute;
  top: 50px;
  right: 30px;
  width: 220px;
  height: 50px;
  border-radius: 25px;
  background-color: #0478ea;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1300px) {
  .outContent {
    display: none;
  }
}
/* end of outContent */

/* start of btnWrap */
.btnWrap {
  width: 100%;
}

.newNoteBtn {
  button {
    width: 100%;
  }
}
/* end of btnWrap */

/* end of default layout repeat */

/* start of folder */
.folderWrap{
  display: flex;
  gap: 20px 20px;
  flex-wrap: wrap;

  .folderMin{
    width: calc((100% - 20px)/2);
    min-width: 120px;
  }

  @mixin folderBtn {
    width: 100%;
    height: 155px;
    border-radius: 15px;
    display: flex;
    position: relative;

    background-color: #ffffff;
    color: #333333;
    padding: 25px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.8rem;

    input[type="text"]{
      background-color: transparent;
    }

    .delBtn{
      width: 26px;
      height: 26px;
      background-color: #040113;
      border-radius: 13px;
      position: absolute;
      top: -13px;
      right: -10px;
      font-size: 0;
      background-image: url('./../images/icons/ic_del_white.svg');
      background-size: 10px 10px;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  
  .dark{
    @include folderBtn;
    font-size: 1.8rem;
    color: #ffffff;
    background-color: #040113;
    justify-content: center;
    align-items: center;

    input[type="text"]{
      text-align: center;
      color: #ffffff;
      -webkit-text-fill-color: #ffffff;
      cursor: default;
    }
    .delBtn{display: none;}
    p{display: none;}
  }

  .light{
    @include folderBtn;
    
    input[type="text"]{
      cursor: default;
    }
    .delBtn{display:none;}
    p{font-size: 1.2rem;}
  }

  .disable{
    @include folderBtn;
    justify-content: center;
    align-items: center;
    background-color: #f4f5f9;
    color: #999ca4;

    input[type="text"]{
      text-align: center;
      color: #999ca4;
      -webkit-text-fill-color: #999ca4;
      cursor: default;
    }
    .delBtn{display:none;}
    p{display: none;}
  }

  .editable{
    @include folderBtn;
  }

  .focused{
    @include folderBtn;
    border: 1px solid rgba(4, 1, 19, 0.38);
  }
}
/* end of folder */


/* start of write */
.topicWrap{
  background-color: #DEDEE8;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .topic{
    padding: 14px 0;
  }

}

.writeWrap{
  min-height: calc(100vh - 263px);
  height: 100%;

  textarea{
    background-color: transparent;
    width: 100%;
    min-height: 100%;
    resize: none;

    &::placeholder{
      color: #C6C6D0;
    }
  }
}
/* end of write */


/* start of bottomSheet */
.bottomSheetWrap{
  width: 100%;
  height: 100vh;
  max-width: 768px;

  position:absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);
  z-index:2;
  background-color: rgba(36,36,36,0.2);
  backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  .bottomSheetMin{
    background-color: #ffffff;
    border-radius: 15px 15px 0 0;
    padding: 36px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    .bottomSheetTitle{
      display: flex;
      align-items: center;

      p{
        flex-grow:1;
        text-align:center;
        font-size: 1.8rem;
      }
    }

    .bottomList{
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 15px;

      li{
        display: flex;
        justify-content: center;

        button{
          background-color: #F4F5F9;
          padding: 12px 24px;
          border-radius: 15px;
          text-align: center;
        }
      }
    }
  }
}
/* end of bottomSheet */

/* start of tabWrap */
.tabWrap{
  width: 100%;

  .tabMin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 70px;

    button{
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      font-weight: 400;
      gap: 30px;
      color: rgba(4,1,19,0.3);

      &:first-child{
        &::after{
          content: '';
          display: block;
          width: 1px;
          height: 20px;
          background-color: #333333;
        }
      }

      &.active{
        color: rgba(4,1,19,1);
      }
    }
  }
  
}

/* end of tabWrap */

.areaGap{
  width: 100%;
  height: 12px;
  background-color: #DEDEE8;
}

/* start of userInfo */
.userInfo{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;

  .userImg{
    width: 90px;
    height: 90px;
    background-color: #ffffff;
    border-radius: 45px;
  }

  .userName{
    width: calc(100% - 120px);
    font-size: 1.8rem;
    font-weight: 400;
  }
}
/* end of userInfo */


/* start of setList */
.setList{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;

  li{
    width: 100%;
    height: 30px;
    font-size: 1.8rem;

    a{
      display: inline-block;
    }
  }
}

/* end of setList */
